<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Title</title>
    <!-- 主要样式 -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
  <!--  &lt;!&ndash; bootstrap CSS &ndash;&gt;
    <link th:href="@{/bootstarp/css/bootstrap-responsive.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstarp/css/bootstrap.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/bootstarp/css/bootstrap-theme.css}" rel="stylesheet" media="screen"/>-->
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- layui 前端框架 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <!-- bootstrap js -->
    <!--<script type="text/javascript" th:src="@{/bootstarp/js/bootstrap.js}"></script>-->
    <!--
        <script type="text/javascript" th:src="@{/bootstarp/js/npm.js}"></script>
    -->
    <style type="text/css">
        .img-list{
            max-width: 200px;
        }
        button{
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            width: 120px;
            line-height: 40px;
            font-size: 17px;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #d9dee0;
            border-radius: 4px;
            color: #fff;
            background: #26b2f7;
        }
      /*  .layui-layer-phimg img{
            max-width: 500px;
        }*/
        .layui-layer-photos{
        }
    </style>
</head>
<body>
    <!-- 导航 -->
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>

    <div class="photos-list">
        <image class="img-list" th:src="@{/img/test.gif}"/>
        <image class="img-list" th:src="@{/img/login-bg.jpg}"/>
        <!--<img class="img-list" lay-src="/springboot/img/login-bg.jpg"/>-->
    </div>

    <button class="layui-btn layui-btn-normal btn btn-large btn-primary" onclick="openPhotosAlbum()">打开相册</button>
    <!-- 分页 -->
    <div id="demo11"></div>
    <!-- 轮播图 -->
    <div class="layui-carousel" id="test2" style="margin-top: 15px;">
        <div carousel-item="">
            <div><a th:href="@{/img/test.gif}" target="_blank"><image th:src="@{/img/test.gif}" style="width: 1000px;height: 400px;"/></a></div>
            <div><a th:href="@{/img/login-bg.jpg}" target="_blank"><image th:src="@{/img/login-bg.jpg}" style="width: 1000px;height: 400px;"/></a></div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标签区域</label>
        <div class="layui-input-block">
            <select name="quiz">
                <option value="">请选择</option>
                <optgroup label="城市记忆">
                    <option value="你工作的第一个城市">你工作的第一个城市？</option>
                </optgroup>
                <optgroup label="学生时代">
                    <option value="你的工号">你的工号？</option>
                    <option value="你最喜欢的老师">你最喜欢的老师？</option>
                </optgroup>
            </select>
        </div>
    </div>

</body>
<script th:inline="javascript">
    $(function () {
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'demo11' //注意，这里的 test1 是 ID，不用加 # 号
                ,count: 100 //数据总数，从服务端得到
                ,theme: '#26b2f7'
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if(!first){
                        //do something
                    }
                }
            });
        });

        layui.use(['carousel', 'form'], function() {
            var carousel = layui.carousel
                , form = layui.form;
            //改变下时间间隔、动画类型、高度
            carousel.render({
                elem: '#test2'
                ,interval: 1800
                ,anim: 'fade'
                ,height: '400px'
                ,width: '1000px'
            });
            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        })
        layui.use('element', function(){
            var element = layui.element;
            //监听导航点击
            element.on('nav(demo)', function(elem){
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
    })

    function openPhotosAlbum() {
        var txt='{"title": "xxxxx",' //相册标题
            +'"id": 123, ' //相册id
            +'"start": 0, ' //初始显示的图片序号，默认0
            +'"data": [ '   //相册包含的图片，数组格式
        /* <![CDATA[ */
        for (var i = 0; i < $('.img-list').length; i++) {
            txt+='{"alt": "图片名", '
                +'"pid": 666, ' //图片id
                +'"src": "'+$($('.img-list')[i]).attr('src')+'", ' //原图地址
                +'"thumb": "'+$($('.img-list')[i]).attr('src')+'"} '; //缩略图地址
            if(i!=$('.img-list').length-1){
                txt+=',';
            }else{
                txt+='] }';
            }
        }
        console.log(txt);
        /* ]]> */
        layer.photos({
            photos: JSON.parse(txt),
            anim: 5
        });
       /* layui.use('flow', function(){
            var flow = layui.flow;
            //当你执行这样一个方法时，即对页面中的全部带有lay-src的img元素开启了懒加载（当然你也可以指定相关img）
            flow.lazyimg();
        });*/
    }
</script>
</html>