<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <!-- 主要样式 -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--  &lt;!&ndash; bootstrap CSS &ndash;&gt;
      <link th:href="@{/bootstarp/css/bootstrap-responsive.css}" rel="stylesheet" media="screen"/>
      <link th:href="@{/bootstarp/css/bootstrap.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/bootstarp/css/bootstrap-theme.css}" rel="stylesheet" media="screen"/>-->
    <!-- layui 前端框架 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all"/>
</head>
<body>
    <form class="layui-form">
        <i class="layui-icon">&#x1002;</i>
        <div class="layui-form-item">
            <label class="layui-form-label">选择框</label>
            <div class="layui-input-block" style="width: 200px;">
                <select name="city" lay-verify="required">
                    <option value="-1"></option>
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                    <option value="2">广州</option>
                    <option value="3">深圳</option>
                    <option value="4">杭州</option>
                </select>
            </div>
            <div class="layui-input-block" style="width: 200px;">
                <select name="quiz" lay-filter="quiz">
                    <option value="">请选择</option>
                    <optgroup label="城市记忆">
                        <option value="你工作的第一个城市">你工作的第一个城市？</option>
                    </optgroup>
                    <optgroup label="学生时代">
                        <option value="你的工号">你的工号？</option>
                        <option value="你最喜欢的老师">你最喜欢的老师？</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">复选框</label>
            <div class="layui-input-block">
                <input type="checkbox" name="like[write]" title="写作">
                <input type="checkbox" name="like[read]" title="阅读" checked>
                <input type="checkbox" name="like[dai]" title="发呆">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开关</label>
            <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男">
                <input type="radio" name="sex" value="女" title="女" checked>
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">原始复选框</label>
            <div class="layui-input-block">
                <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                <button type="button" id="btn" onclick="tips()">按钮</button>
            </div>
        </div>
    </form>
<!-- jquery -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<!-- layui 前端框架 -->
<script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        form.on('select(quiz)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
        });
    });
    function tips (){
        layui.use('layer', function(){
            //小tips
            layer.tips('我是另外一个tips，只不过我长得跟之前那位稍有些不一样。', '#btn', {
                tips: [1, '#3595CC'],
                time: 4000
            });
        })
    }
</script>

</body>
</html>